body{
    background-color: rgb(245, 219, 185);
    
}
header img{
    width: 20vw;
    margin-top: 1px;
    margin-left: 0px;
}
.menu-lateral{
    background-color: rgb(245, 219, 185);
    width: 20%;
    display: inline;
}
.menu-lateral a{
    text-decoration: none;
    margin: 1%;
    margin-top: 2%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(128, 107, 79);
}
footer{
    width: 20%;
    height: 0vh;
    margin-bottom: 10%;
    margin-top: 50%;
}
#autor{
    padding: 0px;
    margin-top: 30%;
    margin-bottom: 0%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
main{
    display: flex;
    width: 100%;
    height: 60vh;
    padding: 0%;
    z-index: 1000;
    position: absolute;

    border-radius: 10% 10% 10% 10%;

}
.productos{
    margin-left: 3%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    border-radius: 50px;
    width: 95vw;
    height: 80vh;
    background-color: rgb(196, 165, 137);;
}
.productos h2{
    margin-left: 5%;
    margin-right: 5%;
}
.cajas{
    display: flex;
    flex-direction: row;
    column-gap: 0vw;
    z-index: 10000000;
}
.cajas div{
    width: 20%;
    height: 30vh;
    background-color: rgb(235, 202, 158);
    margin-left: 4%;
    border-radius: 10%;
}
.cajas img{
    border-radius: 10%;
    width: 100%;
    height: 70%;
}
.cajas h1{
    width: 95%;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    color: black;
    margin: 3%;
    margin-right: 3%;
    font-size: small;
}
.cajas a{
    font-size: normal;
    text-decoration: none;
}
.cajas2{
    display: flex;
    flex-direction: row;
    column-gap: 0vw;
    z-index: 10000000;
}
.cajas2 div{
    width: 20%;
    height: 30vh;
    background-color: rgb(235, 202, 158);
    margin-left: 4%;
    border-radius: 10%;
}
.cajas2 img{
    border-radius: 10%;
    width: 100%;
    height: 70%;
}
.cajas2 h1{
    width: 95%;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    color: black;
    margin: 3%;
    margin-right: 3%;
    font-size: small;
}
.cajas2 a{
    font-size: normal;
    text-decoration: none;
}